* {
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-image: url("Assets/image-header.png");
    height: 100vh;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;

}

body {
    color: white;
    background-color: black;
    margin: 0;
}

nav {

    text-align: end;
    display: inline;


}

nav li {
    display: inline-block;


}

nav li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    text-transform: uppercase;

}

.reglage {
    width: 100%;

}

nav ul {
    display: inline-block;
    float: right;
}

.container {
    width: 50%;
    margin: auto;
}

h1 {
    font-size: 100px;

}


span {
    font-size: 50px;
}

.btn {

    BACKGROUND: black;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 8px;

}

.btn.secondary {
    background-color: white;
    color: black;
}

#presentation {
    background-color: noir;
}

.sectionpadding {
    padding-block: 120px;
    padding-inline: 24px;
}

.container {
    max-width: 1080px;
}

#lineup {
    font-weight: bold;
    text-transform: uppercase;

    h2 {
        margin-bottom: center;
        font-size: 36px;
        text-align: center;
    }

    ul {

        margin-bottom: 50px;
        list-style: none;
        font-size: 28px;
    }

    li {
        border-bottom: 1px dashed;

        padding: 8px 0;
    }
}

.billet {
    text-align: center;
}

.containerButton {
    text-align: center;
}

.logo {
    background-image: url(Assets/banniere-logo.png);
    padding: 118px;
    height: 200px;
    background-repeat: no-repeat;

}

#contacternous {
    form {
       
        margin: 0 auto;
        width: 400px;
        
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
    }
   
    label {
       
        display: inline-block;
        width: 90px;
        text-align: right;
    }

    input,
    textarea {
        width: 300px;
        box-sizing: border-box;
        border: 1px solid;
    }
    input:focus,
    
    textarea {
        vertical-align: top;
        height: 5em;
        resize: vertical;
    }
    
}