* {
    font-family: "DM Sans", sans-serif;
}
a {
    text-decoration: none;
}
header {
    background-image: url("Assets/image-header.png");
    height: 100vh;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;

}

body {
    color: white;
    background-color: black;
    margin: 0;
}

nav {

    text-align: end;
    display: inline;


}

nav li {
    display: inline-block;


}

nav li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    text-transform: uppercase;

}

.reglage {
    width: 100%;

}

nav ul {
    display: inline-block;
    float: right;
}

.container {
    width: 50%;
    margin: auto;
}

h1 {
    font-size: 100px;

}

h2 {
    with
}

span {
    font-size: 50px;
}

.btn {

    BACKGROUND: black;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 8px;

}

.btn.secondary {
    background-color: white;
    color: black;
}

#presentation{
    background-color: noir;
}
.sectionpadding{
    padding-block: 120px;
    padding-inline: 24px;
}
.container{
    max-width: 1080px;
}